body {
    background-color: #CCCCCC !important;
    font-family: Calibri, sans-serif;
}
div.card-deck a{
    text-decoration: none;
}
.card-deck {
    margin-bottom: 20px;
}
#header {
    font-family: 'Fredoka One', cursive;
    font-size:4vw;
    color: white;
    padding: 20px;
}
.card {
    font-family: Calibri;
    font-weight: bold;
    display: block;
}
.card1 {
    background-color: #FD8619 !important;
}
.card2 {
    background-color: #2EAB93 !important;
}
.card3 {
    background-color: #7EAE16 !important;
}
.card4 {
    background-color: #77BF9F !important;
}
.card5 {
    background-color: #F1A525 !important;
}
.card6 {
    background-color: #FA71A5 !important;
}
.card7 {
    background-color: #F80414 !important;
}
.card-header {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 2vw;
}
div.card-body {
    text-align: center;
    padding: 10px 5px 5px 5px;
}
.card-deck {
    margin-top: 10px;
}
.img-fluid {
    max-height: 120px;
}
